@import "header.css";
@import "reset.css";
@import "iconfont.css";


.car_header{
    height: 101px; padding-top: 30px;padding-bottom:19px;background: #fff; border-bottom: 2px solid #e6e6e5;
    .car_header_con{
        width: 1200px;margin: 0 auto;

        .logo{
            width: 72px;height: 68px;float: left;
            img{width: 100%}
        }
        .h_c_right{
            float: right;
            position: relative;
            margin-top: 19px;
            z-index: 3;

            .status{
                background: url(../images/order_icon_list.png) no-repeat 0 0;
                height: 42px;
                margin-top: 40px;
                width: 415px;
            }
        }
    }
}
.order_shop{
    width: 1200px;margin:0 auto;
    min-height: 220px;
    .shop_tit{
        margin-top: 40px;
        border: 1px solid #dadada;
        background-color: #efefef;
        font-family: "宋体";
        height: 35px;
        line-height: 35px;
        overflow: hidden;
        width: 100%;
        div{float: left;text-align: center;}
        .cart_checkbox{
            padding-left: 12px; 
            width: 550px;text-align: left;
            .cbox_djj>input{vertical-align: middle;}
            .cbox_djj>span{vertical-align: middle;display: inline-block;}
            &>span{padding-left: 100px;}
        }
        .t_price{
            width: 165px;
            
        }
        .t_quantity{
            width: 115px;
            padding: 0 50px;
        }
        .t_sum{
            width: 150px;
        }
        .t_action{
            width: 95px;
        }
    }
    .shop_list{
        margin-bottom: 20px;
        .shop_h2{
            padding: 19px 0 10px 12px;
            border-bottom: 2px solid #b2b2b2;
            height: 16px;
            width: 1180px;
            float: left;
            line-height: 16px;
            &>span{float: left;}
            &>div{float: right;}

            .shop_h2_zy{
                background-color: #e60012;
                padding: 0px 3px;
                border-radius: 5px;
                float: left;
                color: #fff;
                margin-left: 10px;
            }
            .a_shopname{
                color: #333333;
                text-decoration: none;
                float: left;
                font-size: 14px;
                font-weight: bold;
                padding-left: 5px;
            }
            .order_tips{
                color: #333;
                float: right;
                font-size: 14px;
                height: 24px;
                line-height: 24px;
                overflow: hidden;
                padding: 0 10px 0 0;
            }
        }
        .item_list{
            border-left: 1px solid #fdf4f7;
            border-right: 1px solid #fdf4f7;
            .item_form{
                border-bottom: 1px solid #e5e5e5;
                float: left;
                width: 100%;
                &>div{
                    float: left;
                    padding: 25px 0;
                }
                .p_checkbox{
                    padding-top: 57px;
                    text-align: center;
                    width: 50px;
                    input{vertical-align: middle;}
                }
                .p_goods{
                    width: 523px;
                    img{float: left;
                        width: 80px;
                        position: relative;
                        height: 80px;}
                    .item_msg{
                        margin-left: 12px;
                        width: 420px;
                    }
                    .p_name{margin-bottom: 5px;
                    a{font-size: 13px;color: #333;}
                    }
                }
                .p_prices{
                    width: 165px;
                    text-align: center;
                    .p_prices1{
                        line-height: 0.9em;
                        text-decoration: line-through;
                    }
                    .p_prices2 {
                        line-height: 0.9em;
                    }
                }
                .p_quantity{
                    padding-left: 63px;
                    width: 100px;
                    padding-right: 50px;
                    .quantity_form{
                        width: 100%;
                        overflow: hidden;
                        a{
                            background: #fff;
                            border-bottom: 1px solid #e5e5e4;
                            border-left: 1px solid #e5e5e5;
                            border-top: 1px solid #e5e5e5;
                            color: #999;
                            font-size: 20px;
                            height: 23px;
                            line-height: 21px;
                            text-align: center;
                            width: 21px;
                            font-weight: bold;
                            float: left;
                        }
                        .a_add{
                            border-right: 1px solid #e5e5e4;
                            border-left: none;
                        }
                        input{
                            font: 12px;
                            color: #777;
                            background-color: #FFF;
                            height: 19px;
                            padding: 2px 4px;
                            border: solid 1px #CCC;
                            outline: 0 none;
                            width: 42px;
                            float: left;
                            text-align: center;
                        }
                    }

                }
                .p_sum{
                    width: 150px;
                    text-align: center;
                    strong{
                        font-weight: bold;color: #c41f3a;
                    }
                }
                .p_ops{
                    width: 95px;
                    text-align: center;
                    .car_remove{
                        display: inline-block;
                        height: 20px;
                        color: #666;
                        font-size: 13px;
                    }
                }




            }
        }
    }
}

.order_sum{
    width: 1200px;margin:0 auto;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 0;
    height: 60px;
    .del_all{
        float: left;
        padding-left: 14px;
        padding-top: 20px;
        .cbox_djj{
            input,span{vertical-align: middle;display: inline-block;}
        }

    }
    .goods_num{
        float: left;
        width: 99px;
        font-size: 13px;
        color: #333;
        line-height: 60px;
        span{
            color: #c41f3a;
            padding: 0 4px;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .goods_sum{
        color: #6b6b6b;
        float: left;
        line-height: 58px;
        .sum_price{
            color: #333;
            font-size: 13px;
            padding-right: 30px;
            span{
                color: #93193e;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    .btn_buy{
        float: left;
            a{
            background-color: #c41f3a;
            color: #fff;
            display: block;
            font-size: 20px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 110px;
        }
    }
}

#footer{
    margin-top: 50px;
}
.no_goods_outer{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    background: #fff;
    padding-top: 40px;
    padding: 18px 0;
    text-align: center;
    font-size: 14px;
}
.car_no_goods{
    width: 700px;
    margin: 0 auto;
    color: #666666;
    font-family: "宋体";
    margin-top: 40px;
    height: 278px;
    img{float: left;}

}
.no_goods{
    float: left;
    .no_goods_t{
        padding-top: 65px;
        font-size: 18px;
        color: #000000;
    }
    .no_goods_buy{
        margin-left: 79px;
        margin-top: 35px;
        display: block;
        height: 49px;
        width: 190px;
        background-color: #94193f;
        color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 49px;
    }
}









































































