
@charset "utf-8";

.footer { 
    background-color: #fff; margin-top: 25px; overflow: hidden;
    width: 1000px; margin:0 auto;
    .footer0 { border-bottom: 1px solid #d7d7d7;width: 1000px;
        img{width: 100%;}
    }
    
}
.footer0 { border-bottom: 1px solid #d7d7d7; }
.footer1_l { float: left;  width: 760px; }
.footer_help { padding-top: 40px; width: 1000px;}
.helpDL { 
    float: left; padding: 0 47px 0 40px;
    h5 { color: #666; font-size: 14px; font-weight: normal; height: 31px;  color: #666666; }
}
.helpDL dd {
    a { color: #666; font-size: 12px; height: 22px; line-height: 22px; }
 }

.footer1_r {
    
    float: left; 
    ul{
        li { float: left; width: 100px; margin-right: 20px; text-align: center; 
        h2 { color: #333333; font-size: 14px; font-weight: 600; height: 31px; }
        p { font-size: 14px; color: #666666; }


        }

    }
}


.w720 { width: 720px; margin: 0 auto; text-align:center;}
.footer_nav { 
    border-bottom: 4px solid #a90202; overflow: hidden; margin-top: 45px; 
    ul {

        li {display:inline-block; height: 35px; line-height: 35px; padding-right:12px;}
        a { font-size: 12px; font-family: "宋体"; color: #666666;float: left; }
        .line { margin-left: 14px; background-color: #a9a9a9; float: left;}
        }
     }

.footer_bottom { background-color: #f3f3f3; width: 1000px;}

.font_arial { font-family: Arial; color: #666666; }
.footer_bottom p { padding-top: 10px; text-align: center; font-family: "宋体"; color: #7e7e7e; line-height:25px;}
.footer_bottom .footer_p { padding: 30px 0 40px 0; 
    img{width: 350px;height: 43px;}
}
.footer_bottom img{display: inline-block;}
